<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdemailserver.dao.TbCommentForVideoMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdemailserver.model.pojo.TbCommentForVideo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="videoID" jdbcType="BIGINT" property="videoid" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="commentTime" jdbcType="TIMESTAMP" property="commenttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, videoID, userID, content, commentTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_commentForVideo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_commentForVideo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCommentForVideo">
    insert into tb_commentForVideo (id, videoID, userID, 
      content, commentTime)
    values (#{id,jdbcType=BIGINT}, #{videoid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{commenttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCommentForVideo">
    insert into tb_commentForVideo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="videoid != null">
        videoID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="commenttime != null">
        commentTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="videoid != null">
        #{videoid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null">
        #{commenttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCommentForVideo">
    update tb_commentForVideo
    <set>
      <if test="videoid != null">
        videoID = #{videoid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null">
        commentTime = #{commenttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCommentForVideo">
    update tb_commentForVideo
    set videoID = #{videoid,jdbcType=BIGINT},
      userID = #{userid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      commentTime = #{commenttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>