<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdemailserver.dao.TbCollectionMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdemailserver.model.pojo.TbCollection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="videoID" jdbcType="BIGINT" property="videoid" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, videoID, userID, collectionTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_collection
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_collection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCollection">
    insert into tb_collection (id, videoID, userID, 
      collectionTime)
    values (#{id,jdbcType=BIGINT}, #{videoid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{collectiontime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCollection">
    insert into tb_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="videoid != null">
        videoID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="videoid != null">
        #{videoid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCollection">
    update tb_collection
    <set>
      <if test="videoid != null">
        videoID = #{videoid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="collectiontime != null">
        collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbCollection">
    update tb_collection
    set videoID = #{videoid,jdbcType=BIGINT},
      userID = #{userid,jdbcType=BIGINT},
      collectionTime = #{collectiontime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByVideoIdAndUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from tb_collection
    where videoID = #{videoid,jdbcType=BIGINT}
    and userID = #{userid,jdbcType=BIGINT}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
    from tb_collection
    where userID = #{userid,jdbcType=BIGINT}
  </select>
</mapper>