<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdemailserver.dao.TbPostMoodMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdemailserver.model.pojo.TbPostMood">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="creatTime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, creatTime, imageUrl, userID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_postMood
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_postMood
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbPostMood">
    insert into tb_postMood (id, content, creatTime, 
      imageUrl, userID)
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{imageurl,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbPostMood">
    insert into tb_postMood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="creattime != null">
        creatTime,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="userid != null">
        userID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbPostMood">
    update tb_postMood
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageurl != null">
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbPostMood">
    update tb_postMood
    set content = #{content,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      userID = #{userid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM tb_postMood
  </select>
</mapper>