<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.graduation.design.gdemailserver.dao.TbVideoMapper">
  <resultMap id="BaseResultMap" type="com.sam.graduation.design.gdemailserver.model.pojo.TbVideo">
    <id column="videoID" jdbcType="BIGINT" property="videoid" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="videoURL" jdbcType="VARCHAR" property="videourl" />
    <result column="videoImage" jdbcType="VARCHAR" property="videoimage" />
    <result column="videoTitle" jdbcType="VARCHAR" property="videotitle" />
    <result column="videoWatch" jdbcType="INTEGER" property="videowatch" />
    <result column="videoIntroduce" jdbcType="VARCHAR" property="videointroduce" />
    <result column="videoCreatTime" jdbcType="TIMESTAMP" property="videocreattime" />
  </resultMap>
  <sql id="Base_Column_List">
    videoID, userID, videoURL, videoImage, videoTitle, videoWatch, videoIntroduce, videoCreatTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_video
    where videoID = #{videoid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_video
    where videoID = #{videoid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbVideo">
    insert into tb_video (videoID, userID, videoURL, 
      videoImage, videoTitle, videoWatch, 
      videoIntroduce, videoCreatTime)
    values (#{videoid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{videourl,jdbcType=VARCHAR}, 
      #{videoimage,jdbcType=VARCHAR}, #{videotitle,jdbcType=VARCHAR}, #{videowatch,jdbcType=INTEGER}, 
      #{videointroduce,jdbcType=VARCHAR}, #{videocreattime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbVideo">
    insert into tb_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoid != null">
        videoID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="videourl != null">
        videoURL,
      </if>
      <if test="videoimage != null">
        videoImage,
      </if>
      <if test="videotitle != null">
        videoTitle,
      </if>
      <if test="videowatch != null">
        videoWatch,
      </if>
      <if test="videointroduce != null">
        videoIntroduce,
      </if>
      <if test="videocreattime != null">
        videoCreatTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoid != null">
        #{videoid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="videoimage != null">
        #{videoimage,jdbcType=VARCHAR},
      </if>
      <if test="videotitle != null">
        #{videotitle,jdbcType=VARCHAR},
      </if>
      <if test="videowatch != null">
        #{videowatch,jdbcType=INTEGER},
      </if>
      <if test="videointroduce != null">
        #{videointroduce,jdbcType=VARCHAR},
      </if>
      <if test="videocreattime != null">
        #{videocreattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbVideo">
    update tb_video
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="videourl != null">
        videoURL = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="videoimage != null">
        videoImage = #{videoimage,jdbcType=VARCHAR},
      </if>
      <if test="videotitle != null">
        videoTitle = #{videotitle,jdbcType=VARCHAR},
      </if>
      <if test="videowatch != null">
        videoWatch = #{videowatch,jdbcType=INTEGER},
      </if>
      <if test="videointroduce != null">
        videoIntroduce = #{videointroduce,jdbcType=VARCHAR},
      </if>
      <if test="videocreattime != null">
        videoCreatTime = #{videocreattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where videoID = #{videoid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sam.graduation.design.gdemailserver.model.pojo.TbVideo">
    update tb_video
    set userID = #{userid,jdbcType=BIGINT},
      videoURL = #{videourl,jdbcType=VARCHAR},
      videoImage = #{videoimage,jdbcType=VARCHAR},
      videoTitle = #{videotitle,jdbcType=VARCHAR},
      videoWatch = #{videowatch,jdbcType=INTEGER},
      videoIntroduce = #{videointroduce,jdbcType=VARCHAR},
      videoCreatTime = #{videocreattime,jdbcType=TIMESTAMP}
    where videoID = #{videoid,jdbcType=BIGINT}
  </update>
  <select id="selectHomePageVideo" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from tb_video
  </select>
  <select id="selectHomePageVideoByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_video
    where userID = #{userid,jdbcType=BIGINT}
  </select>
</mapper>